#container{width: 800px; margin: 30px auto;}
form{width:700px;}
form ul li{list-style: none; margin: 15px;}
/* form p{margin: 0 10px;} */
fieldset{margin-bottom: 20px;}
#shipping label{width: 200px; height: 20px; float: left;}
#shipping #address{width: 300px;}
#shipping #email{width: 250px;}
.button input{width: 100px; height: 30px;}